@import url("../common/variables.css");

.headerWrapper {
  background-color: var(--color-dark-grey-80);
  height: 50px;
  color: white;
  font-weight: 600;
}

.headerWrapper ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0 20px;
  height: 50px;
}

.headerWrapper ul li {
  float: left;
  min-width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.headerWrapper ul li img {
  width: 170px;
  height: 30px;
}

.headerWrapper ul li.headerRight {
  float: right;
}

.headerWrapper ul li.logoImg {
  margin-top: 10px;
  background-image: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0 10px;
  border-radius: 3px;
  font-variant: small-caps;
}

.headerWrapper ul li.logoImg a {
  text-decoration: none;
  color: white;
}

.headerWrapper ul li.headerRight img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.headerWrapper ul li.headerRight a {
  text-decoration: none;
  color: white;
}

.headerWrapper ul li.headerRight a:hover {
  cursor: pointer;
  background-color: black;
}

.headerWrapper ul li.headerRight .opensea {
  width: 30px;
  height: 30px;
  background-image: url("../images/opensea.png");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.headerWrapper ul li.headerRight .opensea:hover {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url("../images/opensea_click.png");
  background-position: center;
  background-repeat: no-repeat;
}

.headerWrapper ul li.headerRight .twitter {
  width: 70px;
  height: 25px;
  background-image: url("../images/twitter.png");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.headerWrapper ul li.headerRight .twitter:hover {
  width: 70px;
  height: 50px;
  cursor: pointer;
  background-image: url("../images/twitter_click.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.headerWrapper ul li.headerRight .discord {
  width: 70px;
  height: 25px;
  background-image: url("../images/discord.png");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.headerWrapper ul li.headerRight .discord:hover {
  width: 70px;
  height: 50px;
  cursor: pointer;
  background-image: url("../images/discord_click.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.headerWrapper ul li.headerRight button {
  background: none;
  border: none;
}

.headerWrapper .headerRight .dropdownMenu {
  position: fixed !important;
  background-color: var(--color-dark-grey);
}

.headerWrapper .headerRight.icon {
  border-left: 1px solid var(--color-border-grey);
}

.headerWrapper .headerRight.icon:last-child {
  border-left: none;
}

.headerWrapper .headerRight.icon.lng {
  padding-left: 10px;
}

.headerWrapper .headerRight.headerText {
  margin-right: 15px;
  font-weight: 400;
  font-size: 14px;
}
