@import url("./variables.css");

@font-face {
  font-family: "cartoonist_kooky";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cartoonist_kooky.ttf") format("truetype");
}

@font-face {
  font-family: "alph";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/alph.ttf") format("truetype");
}

.giftWrapSystem {
  font-family: "cartoonist_kooky";
  padding: 150px 10%;
  background: linear-gradient(
    white 6%,
    var(--color-yellow) 12%,
    var(--color-yellow) 88%,
    white
  );
}

.giftWrapImagesWrapper {
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
}

.giftWrapSystem h1 {
  margin: 0;
  padding: 20px 0;
  font-family: "alph";
  font-size: 72px;
}

.giftWrapImagesWrapper img {
  width: 30%;
  margin: 20px 0;
}

.giftWrapImagesWrapper .giftWrapImagesIcon {
  width: 50px;
  margin-right: 30px;
}

@media (max-width: 622px) {
  .giftWrapSystem h1 {
    font-size: 46px;
  }

  .giftWrapSystem p {
    font-size: 14px;
  }

  .giftWrapImagesWrapper .giftWrapImagesIcon {
    width: 30px;
  }

  .giftWrapImagesWrapper {
    font-size: 60px;
  }
}
