@import url("./variables.css");

@font-face {
  font-family: "cartoonist_kooky";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cartoonist_kooky.ttf") format("truetype");
}

@font-face {
  font-family: "alph";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/alph.ttf") format("truetype");
}

.giftWrapSystem {
  font-family: "cartoonist_kooky";
  background: var(--color-yellow);
  height: 100vh;
}

.giftWrapImagesWrapper {
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
}

.giftWrapSystem h1 {
  margin: 0;
  padding-top: 60px;
  font-family: "alph";
  font-size: 56px;
  text-align: center;
}

.giftWrapImagesWrapper img {
  width: 30%;
  margin: 20px 0;
}

.giftWrapImagesWrapper .giftWrapImagesIcon {
  width: 50px;
  margin-right: 30px;
}

.giftWrapSystem p {
  text-align: center;
}
