@import "./variables.css";

@font-face {
  font-family: "cartoonist_kooky";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cartoonist_kooky.ttf") format("truetype");
}

.headerWrapper {
  font-family: "cartoonist_kooky";
  color: var(--color-yellow);
  text-shadow: var(--text-shadow);
  background-color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.headerLeft {
  float: left;
  font-size: 24px;
  margin-left: 10px;
}

.headerRight {
  float: right;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.headerRight a {
  margin: 0 10px;
  display: inline-block;
  color: var(--color-yellow);
  text-decoration: none;
}
