@font-face {
  font-family: "alph";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/alph.ttf") format("truetype");
}

.roadMapWrapper {
  font-family: alph;
}

.timelineWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.timeline {
  padding: 0 10%;
  position: relative;
}

.timeline::before {
  content: "";
  width: 8px;
  height: 1000px;
  background: black;
  left: 49.7%;
  top: 8%;
  position: absolute;
}

.timeline::after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

.timelineItem {
  margin-bottom: 50px;
  position: relative;
  height: 200px;
}

.timelineItem::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.timelineIcon {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -50px;
  border-radius: 50%;
}

.timelineIcon img {
  position: relative;
  top: -150px;
  left: -150px;
  width: 400px;
}

.timelineContent {
  width: 35%;
  padding: 0 20px 40px;
}

.timelineContent h2 {
  font-size: 38px;
}

.timelineContent p {
  font-size: 20px;
}

.timelineContentRight {
  float: right;
}

.timelineBanner {
  width: 50%;
  margin-left: 25%;
  margin-top: 40px;
}

@media (max-width: 461px) {
  .timelineContent h2 {
    font-size: 24px;
  }

  .timelineContent p {
    font-size: 16px;
  }

  .timelineContent {
    width: 30%;
    padding: 0;
  }
}
