@import "./variables.css";

@font-face {
  font-family: "cartoonist_kooky";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cartoonist_kooky.ttf") format("truetype");
}

@font-face {
  font-family: "alph";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/alph.ttf") format("truetype");
}

.smerktownBackground {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/smerktown.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "alph";
  color: white;
  text-shadow: var(--text-shadow);
}

.smerktownBackground p {
  margin: 0;
  padding-top: 50px;
  font-size: 72px;
}

.smerktownSmilesBackground {
  height: 100vh;
  background-image: url("../images/smerktown-smile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "cartoonist_kooky";
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.smerktownSmilesBackground .smilesText {
  margin-left: 20px;
}

.smerktownSmilesBackground .smilesText {
  width: 44%;
  margin-top: 30px;
}

.smerktownSmilesBackground .positivelyText {
  width: 44%;
  margin-top: 30px;
  margin-left: 10%;
}

.smerktownSmilesAvatars .smerktownSmilesAvatarsLine img {
  width: 25%;
}

.smerktownSmilesAvatars .smerktownSmilesAvatarsLine {
  margin-top: 100px;
}

@media (max-width: 461px) {
  .smerktownBackground p {
    padding-top: 94px;
    font-size: 60px;
  }

  .smerktownSmilesBackground .smilesText h1,
  .smerktownSmilesBackground .positivelyText h1 {
    font-size: 32px;
  }

  .smerktownSmilesBackground .smilesText p,
  .smerktownSmilesBackground .positivelyText p {
    font-size: 14px;
  }
}
