@import url("../common/variables.css");

.footerWrapper {
  background-color: var(--color-dark-grey);
  height: 50px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footerWrapper p {
  font-size: 14px;
  font-variant: small-caps;
  margin: 0;
}
