.contentWrapper {
  width: 100vw;
  text-align: center;
  font-family: Georgia, "Microsoft YaHei", simsun, serif;
}

.contentWrapper .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.contentWrapper .banner .title {
  font-size: 72px;
  font-weight: 600;
  background-image: url("../images/coming\ soon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 63px 111px 76px;
}

.contentWrapper .banner img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}

.contentWrapper .banner p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 72px;
  margin-top: -300px;
}

@media screen and (max-width: 657px) {
  .contentWrapper .banner .title {
    font-size: 27px;
    line-height: 22px;
    height: 209px;
    width: 100%;
    padding: 88px 0;
  }
}
