@font-face {
  font-family: "fzdbsjw";
  font-style: normal;
  font-weight: normal;
  src: url("../font/fzdbsjw.ttf") format("truetype");
  unicode-range: U+00-FF, U+980-9FF;
}

@font-face {
  font-family: "LiSu";
  font-weight: normal;
  src: url("../font/chinese.ttf")
  format("truetype");
  unicode-range: U+4E00-9FFF; /* Chinese glyphs */
}

.homeWrapper {
  font-family: "LiSu";
}

.lang-cn {
  font-family: "LiSu";
}