@font-face {
  font-family: "fzdbsjw";
  font-weight: normal;
  src: url("./font/fzdbsjw.ttf") format("truetype");
}

@font-face {
  font-family: "fzdbsjw";
  font-weight: normal;
  src: url("./font/chinese.ttf") format("truetype");
  unicode-range: U+4E00, U+9FFF;
}

body {
  margin: 0;
  background-image: url("./images/bg.webp");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: var(--color-brown) !important;
}
